{% extends "layout.html" %}
<!-- main content -->
{% block content %}
<div id="app">
  <h1>Bootstrap tornado</h1>
  <div v-if="user">
    <span v-text="user.fullname"></span>
    <a href="/logout">Logout</a>
  </div>
  <div v-else>
    <a href="/login">Login</a>
  </div>
  <hr/> bootstrap-tornado github: <a href="https://github.com/codeskyblue/bootstrap-tornado"> https://github.com/codeskyblue/bootstrap-tornado</a>
</div>
{% end %}

<!-- js -->
{% block js %}
<script>
  new Vue({
    el: "#app",
    data: {
      user: null
    },
    mounted: function() {
      $.ajax({
          url: "/api/v1/user",
        })
        .then(function(ret) {
          if (ret.success) {
            this.user = ret.value;
          } else {
            console.log("user is not logged in")
          }
        }.bind(this))
    }
  })
</script>
{% end %}